<%- include ("partials/header") %>
<h1>THIS IS MY HOMEPAGE!!!!</h1>


<img src ="https://media.gettyimages.com/photos/tom-cruise-attends-the-european-premiere-of-rock-of-ages-at-odeon-picture-id146107054?s=612x612">
<%- include ("partials/footer")%>




