<%- include ("partials/header")%>
<h1>You fell in love with: <%=thingVar.toUpperCase() %></h1>
 <%if (thingVar.toLowerCase() === "shabbar"){%>
   <p>this is a good choice</p>
 <%} else {%>
   <p>this is a bad choice!!!</p>
 
 <%}%>
 <%- include ("partials/footer")%>
 
 
 
 
 
 
 
 
 
 
 
 
